# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Clean Gangnam Telegram Bot

on:
  schedule:
    - cron:  '*/10 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: execute
      env:
        TELEGRAM_TOKEN: ${{ secrets.telegram_token }} 
        band_token: ${{ secrets.band_token }} 
        channel_id: ${{ secrets.channel_id }}  
        db_name: ${{ secrets.db_name }} 
        db_user: ${{ secrets.db_user }} 
        db_pwd: ${{ secrets.db_pwd }}
      run: |
        python main.py
